@import "./base.css";
@import url("https://fonts.googleapis.com/css2?family=Bellefair&display=swap");

:root {
  --black: hsl(230, 35%, 7%);
  --blue: hsl(231, 77%, 90%);
  --white: hsl(0, 0%, 100%);
}

body {
  font-family: "Bellefair", serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
